mixin form(query, cssClass)
  form(method="get" action="/search" class=cssClass)
    input(name="q" value=q type="text" placeholder="Find synonyms" autocapitalize="off" autocorrect="off" autofocus="autofocus" tabindex=1)
    input(type="submit" value="Search")

extends layout

block content

  #queries

  :markdown
    Welcome to [moby-thesaurus.org](http://moby-thesaurus.org), a free and
    open-source website designed to facilitate meanderings through the [Moby
    Thesaurus](http://en.wikipedia.org/wiki/Moby_Project#Thesaurus), the largest
    thesaurus in the English language.

    The Moby Thesaurus is a
    [weird](/search?q=weird) and [wonderful](/search?q=wonderful) reference full of
    [unusual](/search?q=unusual) and [illuminating](/search?q=illuminating) word
    [relationships](/search?q=relationship). It was compiled by [Grady
    Ward](http://en.wikipedia.org/wiki/Grady_Ward), a software engineer,
    lexicographer, and Internet activist.

    This website was built by [Zeke
    Sikelianos](http://zeke.sikelianos.com), a designer who can't stop making language tools like [wordnik](http://www.wordnik.com),
    [arpabet](http://arpabet.herokuapp.com/), [ord](http://ord.zeke.sikelianos.com),
    [sniphr](http://sniphr.com/), and
    [outcasts](http://zeke.sikelianos.com/outcasts/).

    If you're a hacker, check out the [command-line interface](https://github.com/zeke/moby#readme) to moby.

    If you're on a mobile device, save this page to your home screen.

    If you do the twitters, check out [@moby_thesaurus](https://twitter.com/moby_thesaurus).

    If you like hardcore forking action, then by all means [fork](https://github.com/zeke/moby).

    [Enjoy.](http://asciiface.herokuapp.com)
