mixin form(q)
  form(method="get" action="/search")
    input(name="q" id="q" value=q type="text" placeholder="Find synonyms" autocapitalize="off" autocorrect="off" autofocus x-webkit-speech)

doctype html
html
  head
    title
      if q
        = "Synonyms for '" + q + "' in the Moby Thesaurus"
      else
        = "Moby Thesaurus"

    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="A free and open-source website for searching the largest thesaurus in the English language.")

    link(href='//fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css')
    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    link(rel="apple-touch-icon" href="/images/apple-touch-icon.png")
    link(rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png")

    link(rel='stylesheet', type='text/css', href='/styles.css')

    <script async defer data-domain="moby-thesaurus.org" src="https://plausible.io/js/plausible.js"></script>
    script(src='/app.js')
    block head

  body

    header
      section
        if !q
          h1 moby
        +form(q)

    section
      block content

    footer
      <script type="text/javascript">var sc_project=12448422; var sc_invisible=1; var sc_security="3ffef405"; var sc_https=1; </script>
      <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>