mixin form(query, cssClass)
  form(method="get" action="/search" class=cssClass)
    input(name="q" value=q type="text" placeholder="Find synonyms" autocapitalize="off" autocorrect="off" autofocus="autofocus")
    input(type="submit" value="⬅")

doctype html
html
  head
    title Moby Thesaurus
    link(rel='stylesheet', type='text/css', href='/styles.css')
    link(href='//fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css')
    meta(name="viewport" content="width=device-width, initial-scale=1")

    script(src='https://code.jquery.com/jquery-2.0.3.min.js')
    block head

  body

    header
      section
        +form(q, "splash")

    section
      block content

    footer
      section
        :markdown
          This is a website for perusing the
          [Moby Thesaurus](http://en.wikipedia.org/wiki/Moby_Project#Thesaurus), a weird and
          wonderful English-language reference full of unusual and illuminating word
          relationships. Thanks to [Grady Ward](http://en.wikipedia.org/wiki/Grady_Ward) for creating it.

          This open-source website was designed and built by [Zeke Sikelianos](http://zeke.sikelianos.com/). Check out the source code and the command-line version at [github.com/zeke/moby](https://github.com/zeke/moby).
