extends layout

block content

  if searchResults.length === 0
    p.weak= "No entry for " + q + "."

  else

    h2
      = searchResults.length
      | &nbsp;synonyms for &lsquo;
      = q
      | &rsquo;

    ul.results
      for word,i in searchResults
        li
          a(href="/search?q="+word)= word

  if reverseSearchResults.length > 0
    h2 See Also:

    ul.results
      for word,i in reverseSearchResults
        li
          a(href="/search?q="+word)= word

  #queries

  //- if searchResults.length > 0
  //-   a(href="#")#mode_switcher Toggle display mode.

  .newbs-only
    :markdown
      [moby-thesaurus.org](/) is a free and
      open-source website for perusing Moby, the largest
      thesaurus in the English language[&hellip;](/)
